.game {
    width: 600px;
    height: 200px;
    position: relative;
    border-bottom: 1px solid #000;
    margin: auto;
}

#dino {
    width: 60px;
    height: 60px;
    background-image: url(img/dinosaur.png);
    position: absolute;
    background-size: 100% 100%;
    transition: 600ms ease-in-out;
    bottom: 0;
    transform-origin: bottom;
}

#cactus {
    width: 30px;
    height: 30px;
    background-image: url(img/cactus.png);
    position: absolute;
    background-size: cover;
    bottom: 0;
    left: 580px;
    animation: cactusMov 3s infinite linear;
}

#dino.jump {
    bottom: 100px;
    height: 70px;
    width: 56px;
    left: 2px;
}

#dino:not(.jump) {
    animation: bob 200ms 610ms alternate infinite;
}

@keyframes bob {
    from {
        transform: rotate(-3deg);
    }

    to {
        transform: rotate(3deg);
    }
}

@keyframes cactusMov {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}